body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, yellow  , rgb(6, 218, 20) );
}

.btn{
    border: none;
    background-color: #d3d1d1;
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
}